In [4]:
import numpy as np
import pandas as pd

In [5]:
usernames = {
        'john': 'john77',
        'max': 'jax',
        'kate': 'cathy',
        'sally': 'sally112'
    }
gmails = {
        'john': 'johnson@gmail.com',
        'max': 'maxjohnson@gmail.com',
        'kate': 'katecathy@gmail.com',
        'sally': 'sally112@gmail.com'
    }
data = {'username':usernames,
        'email': gmails}

df = pd.DataFrame(data)

In [6]:
df

       username                 email
john     john77     johnson@gmail.com
max         jax  maxjohnson@gmail.com
kate      cathy   katecathy@gmail.com
sally  sally112    sally112@gmail.com

In [7]:
data1 = df['email']

In [8]:
data1

john        johnson@gmail.com
max      maxjohnson@gmail.com
kate      katecathy@gmail.com
sally      sally112@gmail.com
Name: email, dtype: object

In [9]:
type(data1)

pandas.core.series.Series

In [10]:
data1 = df[['email']] # dataframe ko'rinishda chiqarish uchun [[]]  >>>> ro'yhat ichida ro'yhat beriladi

In [11]:
data1

                      email
john      johnson@gmail.com
max    maxjohnson@gmail.com
kate    katecathy@gmail.com
sally    sally112@gmail.com

In [12]:
type(data1)

pandas.core.frame.DataFrame

In [13]:
data1 = df['email']

In [14]:
data1

john        johnson@gmail.com
max      maxjohnson@gmail.com
kate      katecathy@gmail.com
sally      sally112@gmail.com
Name: email, dtype: object

In [15]:
type(data1['max'])

str

In [16]:
type(data1[['max']])

pandas.core.series.Series

In [17]:
data1

john        johnson@gmail.com
max      maxjohnson@gmail.com
kate      katecathy@gmail.com
sally      sally112@gmail.com
Name: email, dtype: object

In [18]:
data1[0:2]

john       johnson@gmail.com
max     maxjohnson@gmail.com
Name: email, dtype: object

In [20]:
data1[[0, 1, 2]]

/tmp/ipykernel_5190/1522021791.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data1[[0, 1, 2]]

john       johnson@gmail.com
max     maxjohnson@gmail.com
kate     katecathy@gmail.com
Name: email, dtype: object

In [21]:
obj = pd.Series(np.arange(8.), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [22]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [23]:
obj['a']

0.0

In [25]:
obj[['a']]  # bu series qaytaradi

a    0.0
dtype: float64

In [26]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [29]:
obj['a': 'd']  # harfli indekslar orqali harfdan harfgacha qirqib olish mumkin

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [30]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [31]:
obj[[1,5]]

/tmp/ipykernel_5190/619217176.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[[1,5]]

b    1.0
f    5.0
dtype: float64

In [32]:
obj[['a', 'f']]

a    0.0
f    5.0
dtype: float64

In [33]:
obj['a':'c']=15

In [34]:
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

In [35]:
obj[obj<15]

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [37]:
obj[obj==15]

a    15.0
b    15.0
c    15.0
dtype: float64