In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {'Country': ['Alpha', 'Beta', 'Gamma', 'Delta'],
        'Population (millions)': [75, 60, 110, 45],
        'GDP (billion USD)': [800, 450, 1200, 300],
        'Life Expectancy (years)': [78, 72, 85, 68],
        'Education Index': [0.85, 0.78, 0.92, 0.65]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

,Country,Population (millions),GDP (billion USD),Life Expectancy (years),Education Index
0,Alpha,75,800,78,0.85
1,Beta,60,450,72,0.78
2,Gamma,110,1200,85,0.92
3,Delta,45,300,68,0.65

In [6]:
df = df.set_index('Country')

In [12]:
df = df.T
df

Country                   Alpha    Beta    Gamma   Delta
Population (millions)     75.00   60.00   110.00   45.00
GDP (billion USD)        800.00  450.00  1200.00  300.00
Life Expectancy (years)   78.00   72.00    85.00   68.00
Education Index            0.85    0.78     0.92    0.65

In [13]:
df[['Beta']]

Country                    Beta
Population (millions)     60.00
GDP (billion USD)        450.00
Life Expectancy (years)   72.00
Education Index            0.78

In [14]:
df[['Delta']]

Country                   Delta
Population (millions)     45.00
GDP (billion USD)        300.00
Life Expectancy (years)   68.00
Education Index            0.65

In [16]:
df.loc[['Education Index']]

Country          Alpha  Beta  Gamma  Delta
Education Index   0.85  0.78   0.92   0.65

In [17]:
df.loc[['Education Index', 'GDP (billion USD)']]

Country             Alpha    Beta    Gamma   Delta
Education Index      0.85    0.78     0.92    0.65
GDP (billion USD)  800.00  450.00  1200.00  300.00

In [18]:
df.loc[['Education Index', 'GDP (billion USD)'],['Alpha', 'Gamma']]

Country             Alpha    Gamma
Education Index      0.85     0.92
GDP (billion USD)  800.00  1200.00

In [21]:
df.iloc[[3,1]]  # indeks raqami orqali ishlash uchun ishlatiladi

Country             Alpha    Beta    Gamma   Delta
Education Index      0.85    0.78     0.92    0.65
GDP (billion USD)  800.00  450.00  1200.00  300.00

In [23]:
df.iloc[[3,1],[2,1]]  # qaysi qismi kerak bo'lsa shuni ham indeksni kiritib ketish mumkin

Country              Gamma    Beta
Education Index       0.92    0.78
GDP (billion USD)  1200.00  450.00

In [24]:
df

Country                   Alpha    Beta    Gamma   Delta
Population (millions)     75.00   60.00   110.00   45.00
GDP (billion USD)        800.00  450.00  1200.00  300.00
Life Expectancy (years)   78.00   72.00    85.00   68.00
Education Index            0.85    0.78     0.92    0.65

In [26]:
df.at['Education Index', 'Delta'] # at ayni kerakli qiymatni chiqarib olishda muhim.

0.65

In [27]:
df.at['Education Index', 'Alpha']

0.85

In [29]:
df.at['Education Index', 'Alpha'] - df.at['Education Index', 'Delta']  # ammalar bajarish

0.19999999999999996

In [30]:
df.at['Education Index', 'Alpha'] - df.at['Life Expectancy (years)', 'Alpha']

-77.15

In [31]:
df

Country                   Alpha    Beta    Gamma   Delta
Population (millions)     75.00   60.00   110.00   45.00
GDP (billion USD)        800.00  450.00  1200.00  300.00
Life Expectancy (years)   78.00   72.00    85.00   68.00
Education Index            0.85    0.78     0.92    0.65

In [33]:
df.iat[2,1]   # 2-qator 1-ustun orqali chaqirib olsa bo'ladi

72.0

In [34]:
nums = list(range(0,11))

In [35]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
nums[1]

1

In [38]:
nums[-3]

8

In [42]:
obj = pd.Series(np.arange(6.), index= ['a', 'b', 'c', 'd', 'e', 'f'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [43]:
obj[3]

/tmp/ipykernel_8751/990721316.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[3]

3.0

In [45]:
obj[-3]  # minus indeks orqali  harfli indekslarni chaqirish mumkin lekin raqamli emas

/tmp/ipykernel_8751/3401091613.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj[-3]  # minus indeks orqali  harfli indekslarni chaqirish mumkin lekin raqamli emas

3.0

In [47]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [48]:
obj.iloc[-1]

5.0