<h1>3-dars:   DataFrame</h1>

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series

In [25]:
data = {
'year':[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
'population':[32, 33, 34, 35, 36, 37, 38, 38, 39, 39, 38, 39, 40],
'temperature_january':[10, 11, 12, 13, 14, 15, 13, 14, 15, 14, 15, 15, 15],
'temperature_july':[35, 36, 37, 38, 39, 40, 39, 39, 40, 39, 40, 40, 40]
}

In [26]:
data

{'year': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022],
 'population': [32, 33, 34, 35, 36, 37, 38, 38, 39, 39, 38, 39, 40],
 'temperature_january': [10, 11, 12, 13, 14, 15, 13, 14, 15, 14, 15, 15, 15],
 'temperature_july': [35, 36, 37, 38, 39, 40, 39, 39, 40, 39, 40, 40, 40]}

In [27]:
dataframe = pd.DataFrame(data)

In [28]:
dataframe

    year  population  temperature_january  temperature_july
0   2010          32                   10                35
1   2011          33                   11                36
2   2012          34                   12                37
3   2013          35                   13                38
4   2014          36                   14                39
5   2015          37                   15                40
6   2016          38                   13                39
7   2017          38                   14                39
8   2018          39                   15                40
9   2019          39                   14                39
10  2020          38                   15                40
11  2021          39                   15                40
12  2022          40                   15                40

In [34]:
dataframe.head(4)   # kerakli qismini chaqirib olish uchun `head` ishlatiladi

   year  population  temperature_january  temperature_july
0  2010          32                   10                35
1  2011          33                   11                36
2  2012          34                   12                37
3  2013          35                   13                38

In [35]:
dataframe.shape

(13, 4)