# 5-dars:  DataFrame ustunlari

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from pandas import Series

In [6]:
data = {
'Uzbekistan':{2010:32, 2011:33, 2012:34, 2013:35},
'Pakistan':{2010:10, 2011:11, 2012:12, 2013:13}
}
df = pd.DataFrame(data)

In [7]:
df

      Uzbekistan  Pakistan
2010          32        10
2011          33        11
2012          34        12
2013          35        13

In [8]:
df.index.name = 'Yil'

In [9]:
df

      Uzbekistan  Pakistan
Yil
2010          32        10
2011          33        11
2012          34        12
2013          35        13

In [10]:
df.T

Yil         2010  2011  2012  2013
Uzbekistan    32    33    34    35
Pakistan      10    11    12    13

In [12]:
df.values

array([[32, 10],
       [33, 11],
       [34, 12],
       [35, 13]])