# 7-dars_Indeks_metodlari

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series

In [13]:
usernames = {
        'john': 'john77',
        'max': 'jax',
        'kate': 'cathy',
        'sally': 'sally112'
    }
gmails = {
        'john': 'johnson@gmail.com',
        'max': 'maxjohnson@gmail.com',
        'kate': 'katecathy@gmail.com',
        'sally': 'sally112@gmail.com'
    }
data = {'username':usernames,
        'email': gmails}

df = pd.DataFrame(data)

In [14]:
df

       username                 email
john     john77     johnson@gmail.com
max         jax  maxjohnson@gmail.com
kate      cathy   katecathy@gmail.com
sally  sally112    sally112@gmail.com

In [15]:
df1.index

Index(['john', 'max', 'kate', 'sally'], dtype='object')

In [16]:
arr  = ['john', 'max', 'kate', 'sally']

In [17]:
arr[0]

'john'

In [27]:
data2 = {
    
    'username':{'john':'john22',
                'max':'jax2', 
                'kate':'kathy',
                'sally':'silly'},
    'gmail':{'john':'john22@gmail.com',
             'max':'jax222@gmail.com',
             'kate':'katecathy22@gmail.com',
             'sally': 'sally22@gmail.com'}
}

In [28]:
data2

{'username': {'john': 'john22',
  'max': 'jax2',
  'kate': 'kathy',
  'sally': 'silly'},
 'gmail': {'john': 'john22@gmail.com',
  'max': 'jax222@gmail.com',
  'kate': 'katecathy22@gmail.com',
  'sally': 'sally22@gmail.com'}}

In [29]:
pd.DataFrame(data2)

      username                  gmail
john    john22       john22@gmail.com
max       jax2       jax222@gmail.com
kate     kathy  katecathy22@gmail.com
sally    silly      sally22@gmail.com

In [49]:
fd = pd.DataFrame(data2)

In [51]:
pd.DataFrame(fd)

      username                  gmail
john    john22       john22@gmail.com
max       jax2       jax222@gmail.com
kate     kathy  katecathy22@gmail.com
sally    silly      sally22@gmail.com

In [44]:
newind = pd.Index(['max', 'Jacob', 'sally'])

In [45]:
newind

Index(['max', 'Jacob', 'sally'], dtype='object')

In [46]:
newind.isin(df.index)

array([ True, False,  True])

In [53]:
fd.index.difference (newind)

Index(['john', 'kate'], dtype='object')

In [54]:
newind.difference(fd.index)

Index(['Jacob'], dtype='object')

In [55]:
fd.index.union(newind)

Index(['Jacob', 'john', 'kate', 'max', 'sally'], dtype='object')

In [56]:
fd.index.delete(0)

Index(['max', 'kate', 'sally'], dtype='object')

In [57]:
fd

      username                  gmail
john    john22       john22@gmail.com
max       jax2       jax222@gmail.com
kate     kathy  katecathy22@gmail.com
sally    silly      sally22@gmail.com

In [60]:
newind.drop("max")

Index(['Jacob', 'sally'], dtype='object')

In [61]:
fd.index.insert(3, 'Gogo')

Index(['john', 'max', 'kate', 'Gogo', 'sally'], dtype='object')

In [65]:
fd.index.is_monotonic

AttributeError: 'Index' object has no attribute 'is_monotonic'

In [66]:
fd.index.is_unique

True

In [67]:
fd

      username                  gmail
john    john22       john22@gmail.com
max       jax2       jax222@gmail.com
kate     kathy  katecathy22@gmail.com
sally    silly      sally22@gmail.com

In [68]:
fd.index.unique()

Index(['john', 'max', 'kate', 'sally'], dtype='object')