In [1]:
import numpy as np
import pandas as pd

In [2]:
usernames = {
        'john': 'john77',
        'max': 'jax',
        'kate': 'cathy',
        'sally': 'sally112'
    }
gmails = {
        'john': 'johnson@gmail.com',
        'max': 'maxjohnson@gmail.com',
        'kate': 'katecathy@gmail.com',
        'sally': 'sally112@gmail.com'
    }
data = {'username':usernames,
        'email': gmails}

df = pd.DataFrame(data)

In [3]:
df

       username                 email
john     john77     johnson@gmail.com
max         jax  maxjohnson@gmail.com
kate      cathy   katecathy@gmail.com
sally  sally112    sally112@gmail.com

In [4]:
df2 = df.drop('max')

In [5]:
df2

       username                email
john     john77    johnson@gmail.com
kate      cathy  katecathy@gmail.com
sally  sally112   sally112@gmail.com

In [7]:
df.drop(['max', 'kate'])

       username               email
john     john77   johnson@gmail.com
sally  sally112  sally112@gmail.com

In [8]:
df.drop('email', axis=1)

       username
john     john77
max         jax
kate      cathy
sally  sally112

In [9]:
df.drop('email', axis='columns')

       username
john     john77
max         jax
kate      cathy
sally  sally112

In [10]:
df

       username                 email
john     john77     johnson@gmail.com
max         jax  maxjohnson@gmail.com
kate      cathy   katecathy@gmail.com
sally  sally112    sally112@gmail.com

### `inplace=True` orqali o'zgaruvchini joyida qiymatiga ta'sir o'tkazadi

In [12]:
df.drop('email', axis='columns', inplace=True)

In [13]:
df

       username
john     john77
max         jax
kate      cathy
sally  sally112